.item-containe{
    text-align: center;
    width: 100%;
    height: fit-content;
    padding:  40px;
   
  }
  .admin-title {
    color: black;
  }
  
  .ite {
    width: 400px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .ite:hover {
    transform: scale(1.05);
  }
  
  .ite img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    opacity: 2;
  }
  
  .ite h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .ite p {
    font-size: 14px;
    color: gray;
  }
  
  /* Modal (kattalashgan rasm) */
  .moda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 400px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
  }
  
  .modal-content img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .modal-content h2 {
    margin-top: 10px;
  }
  
  .modal-content p {
    color: gray;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
  }
  @media screen and (max-width:1040px){
    .ite img{
      width: 150px;
      height: 150px;
      padding: 0;
       
    } 
    .admin-title {
        font-size: 1.2em;
    }
    .item-containe {
       max-width: 300px;
       padding: 5px;
       font-size: large;
       font-weight: 400;
    }
    .ite {
        width: 200px;
    }
    /* .moda {
        max-width: 300px;
    } */
    .modal img {
        width: 230px;
    }
    .modal-content  {
        width: 300px;
    }
    
    
   }