@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+IN&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body {
    background: none;
}
h1, h4, p,
a {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248,217,15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    
}
.btn-light {
    background: transparent;
    color: #fff;
}
.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}
.project {
    background-color: rgb(203, 173, 240);
}
.items-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width:1040px){
    .items-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
   
   }
.map-title {
    padding-top: 80px;
    text-align: center;
    color: #222;
}
.map-container {
    width: 100%;
    height: fit-content;
    /* padding:  20px;
    margin: 100px; */
}
@media screen and (max-width:1040px){
    .map-title {
        font-size: 1.2em;
    }
    .map-container {
        width: 100%;
        background-color: blueviolet;
        padding: 0;
    }
}
.raspisaniya {
    display: block;
    align-items: center;
    padding: 50px;
    background-color: rgb(188, 245, 226);
}
.mugalim-title {
    text-align: center;
    padding-top: 80px;
    color: #222;
}
.raspisaniya img {
  width: 900px;
  height: 500px;
  padding: 20px;

}
.raspisaniya  h1 {
    color: #222;
    text-align: center;
    padding-top: 10px;
    font-size: 29px;
    /* z-index: 1; */
}
.akrwedit-container {
    padding: 50px;
}
.akrwedit-container img {
    align-items: center;
    padding-left: 250px;
}
@media screen and (max-width:1040px){
.mektep-news  {
    text-align: center;
    font-size: small;
    font-weight: 600;
    width: 100%;
    height: fit-content;
    
    
}
.mektep-jani {
    padding-top: 30px;
    font-size: 1.2em;
}
.mektep-news img, video {
    width: 220px;
    height: fit-content;
    padding: 0;
    

}
}
.mektep-news {
    width: 100%;
    height: fit-content;
    background: cornsilk;
    /* background: url('./assets/a.fay.jpg') no-repeat center/cover; */
    opacity: 1;

    
}

.mektep-jani {
    padding-top:  60px;
    text-align: center;
    color: rgb(233, 212, 212);
    font: 1.5em sans-serif;
    font-weight: 900;
    background: #222;
    opacity: 0.6;
   
}


@media screen and (max-width:1040px){
    .raspisaniya {
        width: 100%;
        height: fit-content;
        align-items: center;
        padding-left: 0;
    
        
    }
    .raspisaniya img {
        width: 230px;
    }
   
   }
   @media screen and (max-width:1040px){
    .akrwedit-container {
        width: 100%;
        height: fit-content;
        padding: 5px;
    }
    .akrwedit-container img{
        width: 200px;
        padding: 0;
        
    }
   
   }